{% extends "base/base.html" %}

{% block main %}

<table class="table table-bordered table-striped">
    <thead>
        <th>Date</th>
        <th>Temperature</th>
        <th>Hauteur Neige</th>
        <th>Hauteur Neige Fraiche</th>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.date }}</td>
            <td>{{ object.temp }}</td>
            <td>{{ object.h_neige }}</td>
            <td>{{ object.h_neige_fraiche }}</td>
        </tr>
        {% empty %}
        <tr><th>NO DATA<th></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}