<canvas id="graph_bulletin_neige" width="400" height="200"></canvas>

<script>
    current_page_url = window.location.href;
    current_page_url = current_page_url.split('/');
    station_id = current_page_url.reverse()[1]

    fetch('/json/station/'+station_id+'/bulletin/neige').then(response => { return response.json() })
        .then(data => {
            draw_line_chart(data, 'graph_bulletin_neige', 'date', 'h_neige');
        })
        .catch(error => {
            console.error('Error fetching chart data:', error);
        });
</script>