<table id="table_temperature" class="table w-100 table-bordered border-1 border-black"></table>

<script>
    current_page_url = window.location.href;
    current_page_url = current_page_url.split('/');
    station_id = current_page_url.reverse()[1]

    fetch('/json/station/'+station_id+'/bulletin/temp?summary=TRUE').then(response => { return response.json() })
        .then(data => {
            console.log(data)
            var ctx = document.getElementById('table_temperature');

            // on remplit l'entete du tableau
            table_head  = "<thead>";
            table_head += "<th class='align-center'>Year</th>";
            table_head += "<th>NB Bulletin</th>";
            table_head += "<th>Temp Min (°C)</th>";
            table_head += "<th>Temp Avg (°C)</th>";
            table_head += "<th>Temp Max (°C)</th>";
            table_head += "</thead>";

            // on remplit le corps du tableau
            table_body  = "<tbody>";
            data.forEach(item => {
                table_body += "<tr>"
                table_body += "<td>"+item['year']+"</td>"
                table_body += "<td>"+item['count']+"</td>"
                table_body += "<td>"+item['min']+"</td>"
                table_body += "<td>"+item['avg']+"</td>"
                table_body += "<td>"+item['max']+"</td>"
                table_body += "</tr>"
            })
            table_body += "</tbody>";

            // on l'ajoute au DOM
            ctx.innerHTML = table_head+table_body;
        })
        .catch(error => {
            console.error('Error fetching chart data:', error);
        });
</script>