<canvas id="graph_bulletin_temp" width="400" height="200"></canvas>

<script>
    current_page_url = window.location.href;
    current_page_url = current_page_url.split('/');
    station_id = current_page_url.reverse()[1]
    
    fetch('/json/station/'+station_id+'/bulletin/temp').then(response => {
        if (!response.ok) { throw new Error('Network response was not ok'); }
        return response.json(); // Parse JSON data
    })
    .then(data => {
        draw_line_chart(data, 'graph_bulletin_temp', 'date', 'temp')
    })
    .catch(error => {
        console.log("Error when calling : "+url)
    });
</script>