/* 
    SASS VARIABLES

    $bg-color : #80ffff;

*/

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

header {
    height : 10vh;
    width  : 50%;
    float  : left;

    @media only screen and (max-width: 600px) {
        width  : 100%;
        height : 5vh;
        float  : unset;
    } 
}

nav {
    height : 10vh;
    width  : 50%;
    float  : right;

    @media only screen and (max-width: 600px) {
        width  : 100%;
        height : 5vh;
        float: unset;
    } 
}

main {
    width: 100%;
    height: 85vh;
    
    padding: 2% 10%;
    margin-top: 10vh;
    overflow-y: scroll;

    section {
        margin: 1em 0;
    }
}

footer {
    height: 5vh;
    text-align: center;
}