{% extends "base/base.html" %}

{% block main %}

<section>
    <h2>Description</h2>

    <p><b>{{ object.nom }}</b></p>
    <p>Altitude {{ object.altitude }}m</p>
</section>

<section>
    <div class="row">
        <div class="col-6"> 
            <h3>Evolution temperature</h2>

            {% include "bulletin/bulletin-graph-temp.html" %}
        </div>
        <div class="col-6">
            <h3>Evolution hauteur neige</h2>

            {% include "bulletin/bulletin-graph-neige.html" %}
        </div>
    </div>

    <div class="row"> 
        <div class="col-12">
            <h3>Statistique Température</h2>

            {% include "bulletin/bulletin-table-temp.html" %}
        </div>
    </div>
</section>

{% endblock %}



