<div class="card" onclick="location.href='{% block link %}{% endblock %}'">
    <img class="card-img-top" src="static/img/mountain_1.jpg">
    <div class="card-body">
        <h5 class="card-title">{% block title %}{% endblock %}</h5>
        <p class="card-text">{% block text %}{% endblock %}</p>
        <a href="" class="btn btn-primary">LINK</a>
    </div>
</div>