<nav class="navbar navbar-expand bg-primary">
    <div class="container">
        <div class="d-flex flex-row-reverse flex-nowrap w-100">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-house" style="font-size: 25px"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stations/">STATIONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bulletins/">BULLETINS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles/">ARTICLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carte/">CARTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prevision/">PREVISION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>