{% extends "base/base.html" %}

{% block main %}

<div id="map" style="height: 400px"></div>

<script>
    // creation de la carte
    var mapOptions = {
        center: [44.2965, 5.3698],
        zoom: 6
     }
    var map = L.map('map', mapOptions)

    // creation du Layer
    var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);

    // on ajoute des markers à partir de données JSON
    fetch('/carte_json/')  // on recupère les données depuis le backend
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Parse JSON data
        })
        .then(data => {
            data.forEach(item => {
                var marker = L.marker([item.y,item.z]).addTo(map); // creation du marker
                marker.bindPopup("<b>"+item.x+"</b><br>temp : ") // message d'info
            })
        })
        .catch(error => {
            console.error('Error fetching GEOJSON data:', error);
        });
</script>

{% endblock %}