{% extends "base/base.html" %}

{% block main %}

<section>
    <div id="sortCardWidget">
        <label for="sortCardSelect">Trier par</label>
        <select id="sortCardSelect">
            <option value="nom">Nom</option>
            <option value="-altitude">Hauteur</option>
        </select>
    </div>
    
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4" id="cardContainer"></div>
        </div>
    </section>
    
    <script>
        function createCard(data) {
            cardContainer.innerHTML = "";

            data.forEach(function(item) {
                var card = document.createElement("div");
                card.classList.add("card");
                card.classList.add("px-0");
                card.innerHTML = `
                    <img class="card-img-top" src="static/img/mountain_1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">${item.nom}</h5>
                        <p  class="card-text" >${item.altitude}</p>
                        <a href="./stations/${item.id}/" class="btn btn-primary">LINK</a>
                    </div>
                `;
                cardContainer.appendChild(card);
            });
        }

        var cardContainer  = document.getElementById("cardContainer");
        var sortCardSelect = document.getElementById('sortCardSelect');

        sortCardSelect.addEventListener('change', function(event) {
            var direction = event.target.value;
            sendRequest('./json/station?order_by='+direction, createCard);
        });

        document.addEventListener("DOMContentLoaded", function() {
            sendRequest('./json/station?order_by=nom', createCard);
        });
    </script>
</section>

{% endblock %}
