{% extends "base/base.html" %}

{% block main %}

<p>{% lorem 1 b random %}<p>
<h1>LOREM IPSUM</h1>
<h2>LOREM IPSUM</h2>
<h3>LOREM IPSUM</h3>
<h4>LOREM IPSUM</h4>
<h5>LOREM IPSUM</h5>
<h6>LOREM IPSUM</h6>

<section>
  <button type="submit">LOREM</button>
  <button type="reset">LOREM</button>
  <button type="link">LOREM</button>
</section>


<div class="card" style="width: 18rem;">
    <img class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">lorem ipsum</p>
      <a href="#" class="btn btn-primary">LINK</a>
    </div>
  </div>

{% endblock %}