{% extends "base/base.html" %}

{% block main %}

<section id="predict-form">
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="temp" class="form-label">TEMPERATURE</label>
            <input name="temp"  class="form-control" type="number">
        <div>
        <div class="mb-3">
            <label for="p_humidite" class="form-label">HUMIDITE (%)</label>
            <input name="p_humidite"  class="form-control" type="number">
        <div>
        <div class="mb-3">
            <label for="v_vent" class="form-label">VENT (km/h)</label>
            <input name="v_vent"  class="form-control" type="number">
        <div>
        <div class="mb-3">
            <label for="nebulosite_totale" class="form-label">NEBULOSITE (%)</label>
            <input name="nebulosite_totale"  class="form-control" type="number">
        <div>
        <div class="mb-3">
            <label for="h_nuage" class="form-label">HAUTEUR NUAGE (m)</label>
            <input name="h_nuage"  class="form-control" type="number">
        <div>
        <div class="mt-3">  
            <button type="submit" class="btn btn-primary">Predict</button>
        <div>
    </form>
<section>

<section id="predict-result">
    {% if h_neige %}
    Hauteur neige estimé : {{ h_neige }} m
    {% endif %}
</section>



{% endblock %}