{% extends "base/base.html" %}
{% load static %}

{% block main %}

<h2>Presentation du projet</h2>

<section>
    Ce projet de Machine Learning consiste à entrainer une machine pour prédire les futures chutes de neiges. <br>
</section>

<section>
    <h3>Présentation des données</h3>

    <p>
    Les données proviennent du site de météo France . </br>
    Les données sont répartis dans 2 datasets. </br>
    Le premier contient les informations sur les stations de ski nottament leur coordonnées géogrpahique et leur altitude.
    Le deuxième contient les rélevés météologique par jour et par station. On peut voir les température, les hauteurs de neiges, le vent et les types de nuages. 
    Pour des raisons de stockage, ce dataset est séparé en fichier .csv par mois et remonte jusqu'au janvier 2013.
    </p>
</section>

<section>
    <h2>Statistique sur les stations</h2>

    Sur les données du dataset, les stations 7592 et 7593 n'ont pas d'info.
    On peut supposer que ce sont d'ancienne stations qui ont fermé ou des données corrompues.
    Elle sera donc écarté des analyses.

    Ci joint vous pouvez suivre l'evolution des temperature et des hauteurs de neige en fonction de la station </br>

    Dans cette article, nous allons analyser la station Chamonix qui est la plus connu.

    <canvas id="graph_bulletin_temp" width="400" height="200"></canvas>

    <script>
        fetch('./json/bulletin/temp/')  // Replace with your data URL
            .then(response => response.json())
            .then(data => {
                draw_line_chart(data, 'graph_bulletin_temp');

            })
        .catch(error => {
            console.error('Error fetching chart data:', error);
        });
    </script>

    Ci dessous la repartition des stations en France. </br>

    <div id="map" style="height: 400px"></div>

    <script>
        // creation de la carte
        var mapOptions = {
            center: [44.2965, 5.3698],
            zoom: 6
        }
        var map = L.map('map', mapOptions)

        // creation du Layer
        var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);

        // on ajoute des markers à partir de données JSON
        fetch('/carte_json/')  // on recupère les données depuis le backend
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse JSON data
            })
            .then(data => {
                data.forEach(item => {
                    var marker = L.marker([item.y,item.z]).addTo(map); // creation du marker
                    marker.bindPopup("<b>"+item.x+"</b><br>temp : ") // message d'info
                })
            })
            .catch(error => {
                console.error('Error fetching GEOJSON data:', error);
            });
    </script>


</section>


<section>
    <h2>Statistique sur la meteo</h2>

    Dans cette section nous allons étudier les différents effets métérologique sur la hauteur de la neige.

    <h3>Etude des temperatures min et max</h3>

</section>

<section>
    <h3>Matrice de corrélation</h3>

    <img src={% static './img/figure/matrix_correlation.png' %}></img>

    <p>
        Dans cette figure, on observe que la hauteur de neige fraiche dépent du pourcentage d'humidite (p_humidite) et de la nebulosite (nebulosite_totale). <br>
        De plus la hauteur des nuages est inversement important pour avoir de la neige. <br>
        Pour résumer des nuages bas et chargé d'eau favorisent des chutes de neiges. <br>
    </p>
</section>

{% endblock %}

