@import 'node_modules/bootstrap/scss/bootstrap';

// Define custom styling
.custom-btn {
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $btn-secondary-bg; // Reverse background color
    color: $btn-secondary-color; // Reverse text color
  }
}