// Override Bootstrap color variables
$primary: #87CEEB;

// Import Bootstrap
@import 'bootstrap/bootstrap';

// Define custom styling
.btn-primary {
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
      background-color: white; // Reverse background color
      color: $primary; // Reverse text color
    }
}

.btn-secondary {
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
      background-color: white; // Reverse background color
      color: $secondary; // Reverse text color
    }
}