$bg-color : #80ffff;
$navbar-light-bg: $bg-color;

// Import Bootstrap
@import 'bootstrap/bootstrap';

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    height: 5em;
    width: 50%;
    float: left;
    background-color: $bg-color !important;

    @media only screen and (max-width: 600px) {
        width: 100%;
        float: unset;
    } 

    > i {
        font-size: 25px;
    }
}

nav {
    height: 5em;
    width: 50%;
    float: right;
    background-color: $bg-color !important;

    @media only screen and (max-width: 600px) {
        width: 100%;
        float: unset;
    } 
}

main {
    width: 80%;
    min-height: 80%;
    margin: 10% auto;
    padding: 1em;

    section {
        padding: 1em 0
    }
}

footer {
    height: 5em;
    background-color: $bg-color;
    
    text-align: center;
}


/* BOOTSTRAP CARD */
